.login {
  position: relative;
  text-decoration: none;
}

.login::before {
  content: '';
  position: absolute;
  bottom: -2px;
  display: block;
  height: 2px;
  width: 20px;
  background: green;
}

.loginMobile {
  position: relative;
  text-decoration: none;
}

.loginMobile::before {
  content: '';
  position: absolute;
  bottom: 10px;
  display: block;
  height: 2px;
  width: 20px;
  background: green;
}
